/* الخط الأساسي للموقع */
body {
    padding: 20px;
    font-family: "Cairo", sans-serif;
    background-color: #111;
    color: #fff;
}

/* اسم الموقع */
.omarelezaly {
    color: white;
    font-size: 22px;
    font-weight: 700;
}

/* sections */
.section {
    margin: 50px auto;
}

/* عنوان اساسي */
.title {
    font-size: 38px;
    font-weight: 700;
}

/* صورة الصفحة */
.main-img {
    max-width: 330px;
    width: 100%;
    border-radius: 12px;
    margin-top: 15px;
}

/* ------- Skills / Hobbies ------- */
.hobbies-list {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
}

/* عناصر اللستة */
.list-group-item {
    background: #e5e5e5;
    color: #000000;
    font-weight: 600;
}

/* ------- Projects ------- */
.project-box {
    background: #fff;
    color: #000;
    padding: 18px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

/* ------ Contact ------- */
#contact {
    max-width: 520px;
}

/* ------ Footer ------- */
footer {
    margin-top: 40px;
    padding: 18px;
    background: #000;
}

/* ===== NAVBAR ===== */
.main-header {
    background-color: #000;
}

.main-header .nav-link {
    color: #ccc;
    font-weight: 600;
}

.main-header .nav-link.active,
.main-header .nav-link:hover {
    color: #fff;
}

/* ===== Mobile Navbar ===== */
@media (max-width: 768px) {

    .nav {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        margin-top: 15px;
    }

    .title {
        font-size: 30px;
    }

    .main-img {
        max-width: 260px;
    }
}
